spring:
  application:
    name: notification-service

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:loanflow}
    password: ${RABBITMQ_PASSWORD:loanflow_secret}

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_TLS:false}

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

server:
  port: ${SERVER_PORT:8084}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

loanflow:
  notification:
    from-email: ${NOTIFICATION_FROM:noreply@loanflow.com}
    from-name: ${NOTIFICATION_FROM_NAME:LoanFlow}
    enabled: ${NOTIFICATION_ENABLED:true}
    channels:
      email: ${NOTIFICATION_EMAIL_ENABLED:true}
      sms: ${NOTIFICATION_SMS_ENABLED:false}

logging:
  level:
    root: INFO
    com.loanflow: DEBUG
